
@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Solitreo&display=swap');

.register_heading, .sign_in_heading {
    text-transform: uppercase;
    width: 400px;
    font-size: 40px;
    margin: 20px 0;
    color: rgb(4, 84, 255);
    z-index: 1;
    text-align: center;
}

html {
  font-family: 'Solitreo', cursive;
  font-size: 22px;
  color: rgb(4, 84, 255);
}

.register_box {
    background-color: #b3cbcd;
    padding-top: 40px;
    min-width: 100vw;
    min-height: 94.2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Solitreo", cursive;
}

.info_if_not_valid {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    right: 85px;
}

.info_if_not_valid > svg {
    margin-right: 0.25rem;
}

.clean_screen {
    position: absolute;
    left: -9999px;
}

input[type="text"], input[type="password"]{
    font-family: 'Solitreo', cursive;
    font-size: 22px;
    padding: 0.25rem;
    border-radius: 0.5rem;
    position: relative;
    right: 15px;
    width: 250px;
  }

.show_v {
    display: inline-flex;
    align-items: center;
    color: limegreen;
    margin-left: 0.25rem;
}

.hide_v, .hide_x {
    display: none;
}

.show_x{
    color: red;
    margin-left: 0.25rem;
}

.icon_user, .icon_password, .icon_match_passwords {
    font-size: 20px;
    cursor: pointer;
    position: relative;
    right: 12px
  }

.password {
    margin-top: 10px;
}

.matchPasswords {
    margin-top: 10px;
}

.sign_up_button {
    width: 150px;
    height: 40px;
    margin-top: 15px;
    transition-duration: 0.3s;
    color: rgb(4, 84, 255);
    border-radius: 8px;
    font-size: 15px;
    cursor: not-allowed;
}

.sign_up_button:not([disabled]) {
    width: 100px;
    height: 40px;
    margin-top: 15px;
    transition-duration: 0.3s;
    color: rgb(4, 84, 255);
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}
  
.sign_up_button:hover:not([disabled]) {
    background-color: #9d06e9; 
    color: rgb(255, 255, 255);
  }

.sign_up_button:active:not([disabled]) {
    background-color: #3e1a79;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.sign_in_button {
    width: 100px;
    height: 40px;
    margin-top: 15px;
    transition-duration: 0.3s;
    color: rgb(4, 84, 255);
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}

.sign_in_button:hover {
    background-color: #9d06e9; 
    color: rgb(255, 255, 255);
  }

.sign_in_button:active {
    background-color: #3e1a79;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.user_container, .password_container, .match_container {
    width: 400px;
    padding-left: 165px;
}

.have_an_account {
    margin-top: 15px;
}

.check_in_button {
    color: rgb(214, 31, 31);
    font-family: 'Solitero', cursive;
    background-color: transparent;
    cursor: pointer;
    border: transparent;
    font-size: 18px;
}

.check_in_button:hover {
    color: #9d06e9; ;
  }

.check_in_button:active {
    color: #3e1a79;
    transform: translateY(1px);
  }
