
@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Solitreo&display=swap');

.register_heading {
    text-transform: uppercase;
    font-size: 40px;
    margin: 30px 0;
    color: rgb(254, 254, 254);
    z-index: 1;
    text-align: center;
}

html {
  font-family: 'Solitreo', cursive;
  font-size: 22px;
  color: #ffffff;
}

input[type="text"], input[type="password"]{
  font-family: 'Solitreo', cursive;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.register_box {
    background-color: rgb(4, 84, 255);
    padding-top: 40px;
    min-width: 100vw;
    min-height: 94.2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Solitreo", cursive;
}

.info_if_not_valid {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -5px;
}

.info_if_not_valid > svg {
    margin-right: 0.25rem;
}

.clean_screen {
    position: absolute;
    left: -9999px;
}

.show_v {
    display: inline-flex;
    align-items: center;
    color: limegreen;
    margin-left: 0.25rem;
}

.hide_v, .hide_x {
    display: none;
}

.show_x{
    color: red;
    margin-left: 0.25rem;
}

.password {
    margin-top: 10px;
}

.matchPasswords {
    margin-top: 10px;
}

.icon_user {
  margin-left: 6px;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  right: 660px;
  top: 200px;
}

.icon_password {
    margin-left: 6px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    right: 660px;
    top: 288px;
  }

.icon_match_passwords {
    margin-left: 6px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    right: 660px;
    top: 365px;
}

