
@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Solitreo&display=swap');

.register_heading {
    text-transform: uppercase;
    font-size: 40px;
    margin: 30px 0;
    color: rgb(254, 254, 254);
    z-index: 1;
    text-align: center;
}

html {
  font-family: 'Solitreo', cursive;
  font-size: 22px;
  color: #ffffff;
}

input[type="text"], input[type="password"]{
  font-family: 'Solitreo', cursive;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.register_box {
    background-color: rgb(4, 84, 255);
    padding-top: 40px;
    min-width: 100vw;
    min-height: 94.2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Solitreo", cursive;
}

.info_if_not_valid {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: 20px;
}

.info_if_not_valid > svg {
    margin-right: 0.25rem;
}

.clean_screen {
    position: absolute;
    left: -9999px;
}

.show_v {
    display: inline-flex;
    align-items: center;
    color: limegreen;
    margin-left: 0.25rem;
}

.hide_v, .hide_x {
    display: none;
}

.show_x{
    color: red;
    margin-left: 0.25rem;
}

.password {
    margin-top: 10px;
}

.matchPasswords {
    margin-top: 10px;
}

.icon_user, .icon_password, .icon_match_passwords {
  margin-left: 6px;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  right: -125px;
  top: -35px
}

.sign_up_button {
    width: 100px;
    height: 40px;
    margin-top: 30px;
    transition-duration: 0.6s;
    color: rgb(4, 84, 255);
    border-radius: 8px;
    size: 10px;
    cursor: not-allowed;
}
  
.sign_up_button:hover:not([disabled]) {
    background-color: #3e1a79; 
    color: rgb(255, 255, 255);
  }

  .sign_up_button:active:not([disabled]) {
    background-color: #9d06e9;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


